@import url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css');

h1,
p {
  font-family: Lato;
}

.App {
 background-color: aliceblue;
  width: 20%;
}

.select-container{
  width:'';
  color:'gray';
  background-color:'white' ; 
  border:'1px solid gray'
}

.icon-search::after{
  color:blue
}

.text-left::after{
  color:blue
}